{% extends "base.html" %}
{% block title %}Lista de Asignaciones{% endblock %}

{% block content %}
<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Asignaciones</h2>
    <div>
      <a href="{% url 'home' %}" class="btn btn-secondary">
                          ← Volver al Dashboard
                      </a>
      <a href="{% url 'asignaciones:asignar_ot' %}" class="btn btn-success">
        Nueva Asignación
      </a>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-body">

      <div class="table-responsive">
        <table class="table table-striped align-middle">
          <thead>
            <tr>
              <th>Fecha Asignación</th>
              <th>Número</th>
              <th>N° Cotizacion</th>
              <th>Cliente</th>
              <th>Referencia</th>
              <th>Fecha Requerida</th>
              <th>Porcentaje</th>
              <th>Trabajadores</th>
              <th>Entregado</th>
              <th class="text-end">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for asignacion in asignaciones %}
              <tr>
                <td>{{ asignacion.fecha_asignacion }}</td>
                <td>{{ asignacion.orden_trabajo.idOT }}</td>
                <td>{{ asignacion.orden_trabajo.numeroCotizacion }}</td>
                <td>{{ asignacion.orden_trabajo.cliente.nombreCliente}}</td>
                <td>{{ asignacion.orden_trabajo.descripcionTrabajo }}</td>
                <td>{{ asignacion.fecha_entrega }}</td>
                <td>{{ asignacion.porcentaje_trabajo }}%</td>

                <td>
                  {% for t in asignacion.trabajadores.all %}
                    <span class="badge bg-secondary">{{ t }}</span>
                  {% empty %}
                    <span class="text-muted">Sin trabajadores</span>
                  {% endfor %}
                </td>

                <td>
                  {% if asignacion.entregado %}
                    <span class="badge bg-success">Sí</span>
                  {% else %}
                    <span class="badge bg-warning text-dark">No</span>
                  {% endif %}
                </td>

                <td class="text-end">
                  <a href="{% url 'asignaciones:editar_asignacion' asignacion.id %}"
                     class="btn btn-sm btn-warning">
                    Editar
                  </a>

                  <a href="{% url 'asignaciones:eliminar_asignacion' asignacion.id %}"
                     class="btn btn-sm btn-danger">
                    Eliminar
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="7" class="text-center text-muted">No hay asignaciones.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
{% endblock %}